<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Análise de Dados: Fundamentos de Aprendizado de Máquina
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Teoria;</li>
  <li>Atributos categóricos;</li>
  <li>Atributos numéricos;</li>
  <li>Dados faltantes.</li>
</ol>

---

# **Exercícios**

## 1\. Pinguins

Neste exercício, vamos utilizar uma base de dados com informações sobre penguins. A idéia é preparar a base de dados para prever a espécie do penguin (variável resposta) baseado em suas características físicas e geográficas (variáveis preditivas).

In [33]:
import numpy as np
import pandas as pd
import seaborn as sns

In [34]:
data = sns.load_dataset('penguins')

In [35]:
data.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

### **1.1. Valores nulos**

A base de dados possui valores faltantes, utilize os conceitos da aula para trata-los.

In [ ]:
# resposta da questão 1.1

In [36]:
data.shape # Anaisando a quantidade de linhas e colunas

(344, 7)

In [37]:

data.isnull().sum() # Anaisando os valores nulos

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [38]:
data = data.dropna() # Removendo os valores nulos

In [39]:
data.isnull().sum() # Valores nulos removidos

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [40]:
data.shape # Conferindo a quantidade de linhas e colunas ajustadas

(333, 7)

### **1.2. Variáveis numéricas**

Identifique as variáveis numéricas e crie uma nova coluna **padronizando** seus valores. A nova coluna deve ter o mesmo nome da coluna original acrescidade de "*_std*".

> **Nota**: Você não deve tratar a variável resposta.

In [ ]:
# resposta da questão 1.2

In [41]:
data.dtypes # Analisando as variáveis numéricas

species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

In [42]:

data[['bill_length_mm','bill_depth_mm','flipper_length_mm','body_mass_g']].head()

   bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0            39.1           18.7              181.0       3750.0
1            39.5           17.4              186.0       3800.0
2            40.3           18.0              195.0       3250.0
4            36.7           19.3              193.0       3450.0
5            39.3           20.6              190.0       3650.0

In [43]:
# Preparando a padronização das variáveis numéricas calculando sua média e o seu desvio padrão!

# Média e desvio padrão da coluna 'bill_lenght_mm':

media_1 = data['bill_length_mm'].mean()
print(f'A média_1 é: ', media_1)

desvio_padrao_1 = data['bill_length_mm'].std()
print(f'o desvio_padrao_1 é: ', desvio_padrao_1)

# Média e desvio padrão da coluna 'bill_depht_mm':

media_2 = data['bill_depth_mm'].mean()
print(f'A média_2 é: ', media_2)

desvio_padrao_2 = data['bill_depth_mm'].std()
print(f'o desvio_padrao_2 é: ', desvio_padrao_2)

# Média e desvio padrão da coluna 'flipper_length_mm':

media_3 = data['flipper_length_mm'].mean()
print(f'A média_3 é: ', media_3)

desvio_padrao_3 = data['flipper_length_mm'].std()
print(f'o desvio_padrao_3 é: ', desvio_padrao_3)

# Média e desvio padrão da coluna 'body_mass_g':

media_4 = data['body_mass_g'].mean()
print(f'A média_4 é: ', media_4)

desvio_padrao_4 = data['body_mass_g'].std()
print(f'o desvio_padrao_4 é: ', desvio_padrao_4)

A média_1 é:  43.99279279279279
o desvio_padrao_1 é:  5.468668342647559
A média_2 é:  17.164864864864864
o desvio_padrao_2 é:  1.9692354633199007
A média_3 é:  200.96696696696696
o desvio_padrao_3 é:  14.015765288287879
A média_4 é:  4207.057057057057
o desvio_padrao_4 é:  805.2158019428965

In [20]:

pd.options.mode.chained_assignment = None

In [44]:

# Criando as novas colunas com os valores padronizados:

data['bill_length_mm_std'] = data['bill_length_mm'].apply(lambda lenght: (lenght - media_1) / desvio_padrao_1)
data['bill_depth_mm_std'] = data['bill_depth_mm'].apply(lambda depht: (depht - media_2) / desvio_padrao_2)
data['flipper_length_mm_std'] = data['flipper_length_mm'].apply(lambda lenght: (lenght - media_3) / desvio_padrao_3)
data['body_mass_g_std'] = data['body_mass_g'].apply(lambda body: (body - media_4) / desvio_padrao_4)

In [45]:

data.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,bill_length_mm_std,bill_depth_mm_std,flipper_length_mm_std,body_mass_g_std
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,-0.894695,0.779559,-1.424608,-0.567621
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,-0.821552,0.119404,-1.067867,-0.505525
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,-0.675264,0.424091,-0.425733,-1.188572
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,-1.333559,1.084246,-0.568429,-0.940192
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male,-0.858123,1.744400,-0.782474,-0.691811

### **1.3. Variáveis categóricas**

Identifique as variáveis categóricas nominais e ordinais, crie uma nova coluna aplicando a técnica correta de conversão a seus valores. A nova coluna deve ter o mesmo nome da coluna original acrescidade de "*_nom*" ou "*_ord*".

> **Nota**: Você não deve tratar a variável resposta.

In [ ]:
# resposta da questão 1.3

In [46]:
data['island'].unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [47]:
# Convertendo a coluna com variável categórica nominal 'island' atráves da técnica de codificação one-hot encoding:

island = {
    'Torgersen': 3,
    'Biscoe': 2,
    'Dream': 1
}

data['island_ord'] = data['island'].apply(lambda island_name: island[island_name])
data.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,bill_length_mm_std,bill_depth_mm_std,flipper_length_mm_std,body_mass_g_std,island_ord
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,-0.894695,0.779559,-1.424608,-0.567621,3
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,-0.821552,0.119404,-1.067867,-0.505525,3
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,-0.675264,0.424091,-0.425733,-1.188572,3
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,-1.333559,1.084246,-0.568429,-0.940192,3
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male,-0.858123,1.744400,-0.782474,-0.691811,3

In [48]:
# Convertendo a coluna com variável categórica nominal 'sex' atráves da técnica de codificação one-hot encoding:

data['sex_Male_nom'] = data['sex'].apply(lambda sex: 1 if sex == 'Male' else 0)
data['sex_Female_nom'] = data['sex'].apply(lambda sex: 1 if sex == 'Female' else 0)

In [49]:

data.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,bill_length_mm_std,bill_depth_mm_std,flipper_length_mm_std,body_mass_g_std,island_ord,sex_Male_nom,sex_Female_nom
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,-0.894695,0.779559,-1.424608,-0.567621,3,1,0
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,-0.821552,0.119404,-1.067867,-0.505525,3,0,1
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,-0.675264,0.424091,-0.425733,-1.188572,3,0,1
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,-1.333559,1.084246,-0.568429,-0.940192,3,0,1
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male,-0.858123,1.744400,-0.782474,-0.691811,3,1,0

### **1.4. Limpeza**

Descarte as colunas originais e mantenha apenas a variável resposta e as variáveis preditivas com o sufixo *_std*", *_nom*" e "*_ord*".

In [50]:
# resposta da questão 1.4

In [56]:
#Descartando as colunas originais

data = data[['species',
             'island_ord',
             'bill_length_mm_std',
             'bill_depth_mm_std',
             'flipper_length_mm_std',
             'body_mass_g_std',
             'sex_Male_nom',
             'sex_Female_nom']]

In [57]:
data.head() # Dataframe limpo

,species,island_ord,bill_length_mm_std,bill_depth_mm_std,flipper_length_mm_std,body_mass_g_std,sex_Male_nom,sex_Female_nom
0,Adelie,3,-0.894695,0.779559,-1.424608,-0.567621,1,0
1,Adelie,3,-0.821552,0.119404,-1.067867,-0.505525,0,1
2,Adelie,3,-0.675264,0.424091,-0.425733,-1.188572,0,1
4,Adelie,3,-1.333559,1.084246,-0.568429,-0.940192,0,1
5,Adelie,3,-0.858123,1.744400,-0.782474,-0.691811,1,0

In [58]:
data.shape

(333, 8)

In [59]:
data.dtypes

species                   object
island_ord                 int64
bill_length_mm_std       float64
bill_depth_mm_std        float64
flipper_length_mm_std    float64
body_mass_g_std          float64
sex_Male_nom               int64
sex_Female_nom             int64
dtype: object

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 0 to 343
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   species                333 non-null    object
 1   island_ord             333 non-null    int64
 2   bill_length_mm_std     333 non-null    float64
 3   bill_depth_mm_std      333 non-null    float64
 4   flipper_length_mm_std  333 non-null    float64
 5   body_mass_g_std        333 non-null    float64
 6   sex_Male_nom           333 non-null    int64
 7   sex_Female_nom         333 non-null    int64
dtypes: float64(4), int64(3), object(1)
memory usage: 23.4+ KB

---